.banner-nosotros{
    height: 440px;

    background-image: url(../images/banner_convenios.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.banner-nosotros-texto{
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    width: 465px;
    height: 100%;
}
.banner-nosotros-texto h1{
    font-size: 48px;
    font-family: 'Work Sans Bold';
    color: #0043a5;
}
.banner-nosotros-texto p{
    font-size: 20px;
    font-family: 'Work Sans Regular';

    color: #0043a5;
}

.cta-medico{
    margin: 60px 0 20px;
    gap: 60px;
    justify-content: space-between;
    align-items: center;

    position: relative;
    width: 100%;
    padding: 1.3rem 1.5rem 1.4rem;
    border-radius: 4px 4px 4px 30px !important;

    background-color: #12489e;
}
.cta-medico .text-form{

    color: #fff;
    font-size: 14px;
    font-family: 'Work Sans Medium';
}
.form-search-consulta{
    width: 50%;
    align-items: center;
    gap: 10px;
    padding: 0 15px;
    height: 50px;
    border-radius: 4px 4px 4px 30px !important;
}


.sub-servicios-texto h3{
    width: 720px;

    font-size: 36px;
    font-family: 'Work Sans Bold';

    color: #0043a5;
}
.sub-servicios{
    margin-bottom: 30px;
}
.sub-servicios-texto{
    align-items: center;
    text-align: center;
    margin-bottom: 80px;
}
.sub-servicios,
.sub-servicios-texto-2{
    flex-direction: column;
    align-items: center;
}
.sub-servicios-texto-2 h4{
    font-size: 30px;
    font-family: 'Work Sans Bold';

    color: #0043a5;
}
.sub-servicios-texto-2 p{
    font-size: 20px;
    font-family: 'Work Sans Regular';

    color: #0043a5;
}
.sub-servicios-items{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}
.sub-servicios-items .item {
    flex-direction: column;
    gap: 20px;

    position: relative;
    text-decoration: none;
    padding: 1rem 1rem 1.5rem;

    width: 260px;
    min-height: 220px;

    border-radius: 4px 4px 30px 4px;
    border: 3px solid #84BD00 !important;
    

    background-color: #ffff;
    transition: .25s all;
}
.sub-servicios-items .item:hover{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
    transition: .25s all;
    transform: scale(0.98);
}
.sub-servicios-items .item img{
    min-height: 75px;
    max-height: 75px;
}
.sub-servicios-items .item h4{
    height: 75px;
    margin-bottom: 0;

    text-decoration: underline;
    font-size: 22px;
    font-family: 'Work Sans Bold';

    color: #0043a5;
}
.sub-servicios-items .item .sub-servicios-locales{
    gap: 5px;
}

.pagination li a {
    display: inline;
    margin-right: 5px;
    padding: 5px 10px;
    background-color: #0043a5;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.pagination .page-item.disabled{
    display: none;
}
.pagination li.active a{
    background-color: #84BD00;
    border: 1px solid #ccc;
    color: #fff;
}
ul.pagination {
    margin-bottom: 30px;
}

.banner {
    margin-bottom: 30px;
}
.banner .banner-servicios{
    display: flex;
    padding: 0;
    border-radius: 9px;
    overflow: hidden;
}
.banner .banner-servicios .banner-img{
    width: 50%;
    overflow: hidden;
}
.banner .banner-servicios .banner-img img{
    width: 100%;
    object-fit: cover;
}
.banner .banner-servicios .banner-texto{
    flex-direction: column;

    width: 50%;
    padding: 40px 20px;
    overflow: hidden;

    background-color: #fff;
}
.banner .banner-servicios .banner-texto h3{
    padding: .5rem 1rem .5rem;

    text-align: center;

    color: #0043A5;
    font-size: 30px;
    font-family: 'Work Sans Bold';
}
.banner .banner-servicios .banner-texto p{
    height: 90px;
    overflow: hidden;
    margin-top: .5rem;
    text-align: center;

    color: #0043A5;
    font-size: 20px;
    font-family: 'Work Sans Regular';
}
.banner .banner-servicios .banner-texto a{
    justify-content: center;
    align-self: center;
    margin-bottom: 10px;
}

@media all and (max-width: 991px){
    .banner-nosotros{
        height: 280px;
        background-position: 85%;
    }
    .banner-nosotros-texto{
        justify-content: flex-start;

        padding-top: 30px;
        width: 240px;
    }
    .banner-nosotros-texto h1{
        font-size: 26px;
    }
    .banner-nosotros-texto p{
        font-size: 14px;
    }

    .sub-servicios-texto h3{
        width: 100%;
    }
    .sub-servicios-items .item{
        width: 100%;
    }

    .cta-medico .text-form{
        margin: auto;

        text-align: center;
        font-size: 14px;
    }
    .cta-medico{
        flex-direction: column;
        gap: 20px;
    }
}
