.cls-g1 {
    clip-path: url("#clip-path1");
}
.cls-g2 {
    clip-path: url("#clip-path2");
}
.cls-g3 {
    clip-path: url("#clip-path3");
}
.cls-g4 {
    clip-path: url("#clip-path4");
}
.cls-g4-1{
    stroke: #000;
    stroke-width: 0.25px;
}

section.main {
    position: relative;
    z-index: 0;
}
.owl-carousel.owl-carousel-home .owl-nav button{
    background-repeat: no-repeat !important;
    background-position: center !important;
    box-shadow: none !important;
    width: 2rem !important;
    height: 2rem !important;
}
.owl-carousel.owl-carousel-home .owl-nav button.owl-next{
    background-color: transparent !important;
    background-image: url(../images/slider-nav-right.svg) !important;
}
.owl-carousel.owl-carousel-home .owl-nav button.owl-prev{
    background-color: transparent !important;
    background-image: url(../images/slider-nav-left.svg) !important;
}
.owl-carousel-home .owl-nav button span{
    font-size: 0;
    opacity: 0;
}

.cta-home{
    gap: 60px;

    position: relative;
    width: 1100px;
    padding: 1.3rem 1.5rem 1.8rem;
    margin-top: -40px;
    border-radius: 4px 4px 4px 30px !important;

    background-color: #12489e;
}
.cta-home .text-form{
    white-space: nowrap;

    color: #fff;
    font-size: 24px;
    font-family: 'Work Sans Medium';
}
.form-search-consulta{
    align-items: center;
    gap: 10px;
    padding: 0 15px;
    height: 50px;
    border-radius: 4px 4px 4px 30px !important;
}

.bg-block-1{
    margin-top: -60px;
    padding: 70px 20px 10px;
    background-image: url(../images/bgBlockA.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.block-1-texto{
    width: 100%;
    align-items: center;
}
.text-block{
    width: 400px;
    font-size: 35px;
    line-height: 1.2;
    font-family: 'Work Sans Semi Bold';

    color: #0043a5;
}
.card-home{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 30px 15px;
    width: calc( 100%/2 - 12px);
    border: 3px solid #000;
    border-radius: 4px 4px 30px 4px;
    text-decoration: none;
}
.card-home:hover{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
    transition: .25s all;
    transform: scale(0.98);
}
.card-home svg{
    width: 25px;
    height: 25px;
}
.card-home.card-1 svg{
    fill: #00a1ff;
}
.card-home.card-2 svg{
    fill: #ff6b00;
}
.card-home.card-3 svg{
    fill: #0043a5;
}
.card-home.card-4 svg{
    fill: #84bd00;
}
.card-home.card-1{
    border-color: #00a1ff;
    color: #00a1ff;
}
.card-home.card-2{
    border-color: #ff6b00;
    color: #ff6b00;
}
.card-home.card-3{
    border-color: #0043a5;
    color: #0043a5;
}
.card-home.card-4{
    border-color: #84bd00;
    color: #84bd00;
}
.card-home .card-texto,
.card-home .card-ver{
    color: #0043A5;
}
.card-home .card-texto{
    font-size: 20px;
    font-family: 'Work Sans Semi Bold';
}
.card-home .card-ver{
    font-size: 16px;
    font-family: 'Work Sans Semi Bold';
    text-decoration: underline;
}

.bg-block-2{
    width: 100%;
    height: 347px;

    border-radius: 8px;
    
    margin-top: 10px;
    border: solid 2px #84BD00;

    background-image: url(../images/HOME-bloque-nacerseguro-Desktop2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg-block-2 p{
    width: 295px;
    height: 78px;
    overflow: hidden;
    padding: 5px;

    border: 2px solid #84BD00;
    border-style: dashed;
    border-radius: 5px;

    text-align: center;
    font-size: 14px;
    font-family: 'Work Sans Semi Bold';
    
    background: #ffff;
}

.text-block-3{
    font-size: 28px;
    font-family: 'Work Sans Semi Bold';
    line-height: 1.25;

    color: #0043A5;
}
.block-3 a{
    font-size: 16px;
    font-family: 'Work Sans Semi Bold';

    color: #0043A5;
}
.img-block-3{
    height: 76px;
    margin-right: 15px;
}
.block-card-3{
    width: 48%;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
}
.bg-block-3-card{
    background-image: url(../images/christin-hume-hBuwVLcYTnA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    padding: 1rem;
    height: 262px;
    border-radius: 8px 8px 0 0;
}
.bg-block-3-card img{
    width: 100%;
}
.card-content-3{
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    border-radius: 0 0 8px 8px;
    background-color: #0043A5;
}
.card-content-3 h2,
.card-content-3 p{
    color: #fff;
}
.card-content-3 h2{
    font-size: 30px;
    font-family: 'Work Sans Medium';
}
.card-content-3 p{
    margin-bottom: 50px;
    font-size: 20px;
    text-align: center;
    font-family: 'Work Sans Regular';
}

.bg-block-4-card{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 4px 4px 0px 0px;
    overflow: hidden;
}
.block-4 h3{
    text-align: center;
    color: #0043A5;
    font-size: 30px;
    font-family: 'Work Sans Medium';
}
.block-4 p{
    color: #0043A5;
    font-size: 16px;
    font-family: 'Work Sans Medium';
}
.owl-carousel .owl-nav {
    position: absolute;
    top: 40%;
    width: 100%;
}
.title-articulo{
    height: 95px;
    overflow: hidden;
    display: inline-block;

    padding: 1.2rem 1.2rem .2rem;

    font-size: 18px;
    color: #0043A5;
    font-family: 'Work Sans Semi Bold';
}
.fecha-articulo{
    padding: 0 1.2rem;
    font-size: 14px;
    color: #0043A5;
    font-family: 'Work Sans Medium';
}
.extracto-articulo{
    overflow: hidden;
    height: 65px;
    padding: .4rem 1.2rem;

    font-size: 14px !important;
    color: #667076 !important;
    font-family: 'Work Sans Medium';
}
.tag-flotante{
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: .2rem .5rem;
    border-radius: 4px 4px 0px 0px;
    z-index: 1;
    color: #ffff;
    font-weight: 600;
    font-size: 0.75rem !important;

    background-color: #84bd00;
}
.owl-carousel .owl-nav button {
    display: block !important;
    width: 28px;
    height: 28px;
    border-radius: 50% !important;
    background: #fff !important;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
    position: absolute;
}
.owl-carousel .owl-nav button.owl-prev {
    left: 5px;
}
.owl-carousel .owl-nav button.owl-next {
    right: 5px;
}

.block-5 h3{
    text-align: center;
    color: #0043A5;
    font-size: 30px;
    font-family: 'Work Sans Medium';
}
.block-5 .titulo-sede{
    color: #fff;
    font-size: 20px;
    font-family: 'Work Sans Medium';
}
.bg-mapa img{
    height: 670px;
    width: auto !important;
}
.sede-card{
    position: relative;
    color: #fff;
    background: #0043A5;
    padding: 1.5rem 2rem;
    border-radius: 8px 8px 30px 8px;
    width: 360px;

    margin-left: 100px;
}
.sede-top{
    justify-content: space-between;
    align-items: center;
    
    padding-bottom: 10px;
    margin-bottom: 40px;
    border-bottom: 1px solid #ffff;
}
.sede-top a {
    display: block;
    height: 35px;
    width: 35px;
    text-align: center;
    background: #ffff;
    color: #84BD00 !important;
    padding: 5px 0;
    border-radius: 100px;
    text-decoration: none;
}
.text-sede,
.list-sede{
    font-size: 16px;
    font-family: 'Work Sans Medium';
}
ul.list-sede {
    padding-left: 15px;
}
.buttons-sede{
    flex-direction: column;
    gap: 20px;
}
.buttons-sede a{
    padding: 0;
    margin: 0;
}
.buttons-sede a img{
    filter: none !important;
    height: 65px !important;
}
.owl-carousel.owl-carousel-sedes .owl-nav button{
    width: 40px;
    height: 40px;
}
.owl-carousel.owl-carousel-sedes .owl-nav button span{
    opacity: 0;
}
.owl-carousel.owl-carousel-sedes .owl-nav button.owl-next{
    background: url('../images/nav-bg-blue-next.svg'), #0043A5 !important;
}
.owl-carousel.owl-carousel-sedes .owl-nav button.owl-prev{
    background: url('../images/nav-bg-blue-prev.svg'), #0043A5 !important;
}

@media all and (max-width: 991px){
    .cta-home{
        flex-direction: column;
        width: 350px;
        gap: 10px;

        margin-top: -10px;
    }
    .cta-home .text-form{
        font-size: 14px;
    }
    .bg-block-1{
        padding: 70px 0 10px;
    }
    .block-1-texto{
        justify-content: center;
        padding-bottom: 15px;
    }
    .text-block{
        font-size: 20px;
        text-align: center;
    }
    .card-home{
        width: calc( 100%/2 - 12px);
    }
    .bg-block-2{
        justify-content: center;

        background-image: url(../images/HOME-bloque-nacerseguro-Mobile.png);
    }
    .block-3{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .block-card-3{
        width: 100%;
    }
    .img-block-3{
        margin-right: 0;
    }
    .img-block-3{
        height: 50px;
    }
    .text-block-3{
        font-size: 20px;
    }
    .block-card-3 .bg-block-3-card{
        height: 0;
        background-image: none;
    }
    .block-card-3 .card-content-3{
        border-radius: 8px;
    }
    .container-block-3{
        flex-direction: column;
    }
    .sede-card{
        margin: auto;
    }
}