.banner-nosotros{
    height: 440px;

    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.banner-nosotros-texto{
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    width: 465px;
    height: 100%;
}
.banner-nosotros-texto h1{
    font-size: 48px;
    font-family: 'Work Sans Bold';
    color: #0043a5;
}
.banner-nosotros-texto p{
    font-size: 20px;
    font-family: 'Work Sans Regular';

    color: #0043a5;
}

.servicios-texto{
    flex-direction: column;
    align-items: center;

    padding: 30px 0;
}
.servicios-texto h2{
    font-size: 30px;
    font-family: 'Work Sans Bold';

    color: #0043a5;
}
.servicios-texto p{
    font-size: 16px;
    font-family: 'Work Sans Regular';
    text-align: center;

    color: #0043a5;
}

.banner {
    margin-bottom: 30px;
}
.banner .banner-servicios{
    display: flex;
    padding: 0;
    border-radius: 9px;
    overflow: hidden;
}
.banner .banner-servicios .banner-img{
    width: 50%;
    overflow: hidden;
}
.banner .banner-servicios .banner-img img{
    width: 100%;
    object-fit: cover;
}
.banner .banner-servicios .banner-texto{
    flex-direction: column;

    width: 50%;
    padding: 40px 20px;
    overflow: hidden;

    background-color: #0043A5;
}
.banner .banner-servicios .banner-texto h3{
    padding: .5rem 1rem .5rem;

    text-align: center;

    color: #fff;
    font-size: 30px;
    font-family: 'Work Sans Bold';
}
.banner .banner-servicios .banner-texto p{
    height: 90px;
    overflow: hidden;
    margin-top: .5rem;
    text-align: center;

    color: #fff;
    font-size: 20px;
    font-family: 'Work Sans Regular';
}
.banner .banner-servicios .banner-texto a{
    justify-content: center;
    align-self: center;
    margin-bottom: 10px;
}


@media all and (max-width: 991px){
    .banner-nosotros{
        height: 280px;
        background-position: 85%;
    }
    .banner-nosotros-texto{
        justify-content: flex-start;

        padding-top: 30px;
        width: 240px;
    }
    .banner-nosotros-texto h1{
        font-size: 26px;
    }
    .banner-nosotros-texto p{
        font-size: 14px;
    }
    
    .servicios-texto h2{
        font-size: 22px;
    }

    .servicios-texto{
        padding: 20px 0 0;
    }
    .servicios-caracteristicas{
        flex-direction: column;
        gap: 40px;
    }
    .servicios-caracteristicas .caracteristica{
        justify-content: center;
    }
    .servicios-caracteristicas .caracteristica img{
        height: 50px;
    }
    
    .sedes .sedes-texto h2{
        font-size: 22px;
        padding: 20px 0 0;
    }
    .sedes-lista .sede .sede-texto h3{
        font-size: 22px;
    }
}