/*    style global */
/*colores
#12489e
*/
@font-face {
    font-family: 'Work Sans Light';
    src: url(../fonts/WorkSans-Bold.ttf) format('truetype');
    font-weight: 100;
}
@font-face {
    font-family: 'Work Sans Regular';
    src: url(../fonts/WorkSans-Regular.ttf) format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Work Sans Medium';
    src: url(../fonts/WorkSans-Medium.ttf) format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'Work Sans Bold';
    src: url(../fonts/WorkSans-Medium.ttf) format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'Work Sans Extra Bold';
    src: url(../fonts/WorkSans-ExtraBold.ttf) format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'Work Sans Black';
    src: url(../fonts/WorkSans-Black.ttf) format('truetype');
    font-weight: 900;
}



a,
p,i,
.title,
.subtitle{
    color: #12489e;
}
p.strong{
    font-family: 'Work Sans Extra Bold' !important;
}
h4{
    letter-spacing: -0.75px;
}
.btn-primary{
    background-color: #12489e !important;
    border-color: #12489e !important;
    color: #fff !important;
}
.btn-primary-outline{
    background-color: #ffff !important;
    border-color: #0043A5 !important;
    color: #0043A5 !important;
}
.btn-primary-basic{
    background-color: #fff !important;
    border-color: #fff !important;
    color: #12489e !important;
}
.btn-secondary{
    background-color: #84bd00 !important;
    border-color: #84bd00 !important;
    color: #fff !important;
}
.btn-secondary-basic{
    background-color: #fff !important;
    border-color: #fff !important;
    color: #84bd00 !important;
}
.btn-italic{
    font-style: italic !important;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus{
    outline: none;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #fff;
}
.navbar-toggler{
    display: none;
    padding: 10px;
}
.navbar-toggler-icon{
    background-image: url(../images/icon-menu.svg);
}
.cta-mobile{
    display: none;
}
.menu,
.submenu{
    display: flex;
    flex: 1;
    justify-content:space-between;
    width: 100%;
    max-width: 1357px;
}
.submenu{
    /* visibility: hidden; */
    max-width: none;
    background-color: #BFC8CF;
}
.header.sticky-top{
    position: fixed;
    opacity: 0;
    top: 0;
    animation: menu; 
    animation-duration: .75s;
    animation-fill-mode: both;
}
@keyframes menu {
    0% {
      transform: translateY(-25%);
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
@-webkit-keyframes menu {
0% {
    transform: translateY(-25%);
    }
    100% {
    transform: translateY(0);
    opacity: 1;
    }
}
.header.sticky-top .submenu{
    visibility: visible;
}

.logo{
    width: 196px;
}
.list-menu,
.list-submenu{
    display: flex;
    gap: 30px;
    padding: 0px 40px;

    list-style: none;
    margin-bottom: 0;

    font-size: 16px;
    font-family: 'Work Sans Medium';
}
.list-menu a,
.list-submenu a{
    text-decoration: none;
}
.list-submenu {
    display: flex;
    flex: 1;
    gap: 1px;

    padding: 0;
}
.list-submenu .item{
    width: 25%;
    background-color: #fff;
}
.list-submenu a {
    display: flex;
    justify-content: center;
    padding: 12px 0;
}
.menu-mobile{
    display: none;

    justify-content: unset;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    padding: 40px 15px;
    position: fixed;
    z-index: 2000;
    transition: all 0.3s ease;
    top: 0;
    bottom: 0;
    right: -30%;
    width: 0;
    height: 100vh !important;
    display: block;
    background-color: #fff;
}
.menu-mobile.show{
    right: 0;
    width: 80%;
}
.telefono{
    display: flex;
}
.telefono a{
    display: flex;
    gap: 10px;
    align-items: center;


    text-decoration: none;

    font-size: 25px;
    font-family: 'Work Sans Bold';
}
.telefono a img{
    width: 32px;
}
.btn{
    display: flex;

    border-radius: 34px;

    font-family: 'Work Sans Extra Bold';
}
.btn.btn-primary-basic img{
    filter: invert(79%) sepia(36%) saturate(5275%) hue-rotate(211deg) brightness(81%) contrast(90%);
}

.animacion-bounce{
    width: 23px;
    height: fit-content;
    animation: slidein; 
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
@keyframes slidein {
    0% {
      transform: translateY(5%);
    }
    50% {
      transform: translateY(-10%);
    }
    100% {
      transform: translateY(5%);
    }
  }
  @-webkit-keyframes slidein {
    0% {
      transform: translateY(5%);
    }
    50% {
      transform: translateY(-10%);
    }
    100% {
      transform: translateY(5%);
    }
  }
.footer{
    display: flex;
    flex: 1;
    justify-content: center;

    padding: 40px 0 75px;

    background-color: #12489e;
}
.container-footer{
    display: flex;
   justify-content: space-between;

   width: 100%;
}
.list-footer{
    display: flex;
    flex-direction: column;
    gap: 10px;

    list-style: none;
    padding: 0;
}
.list-footer .item a{

    font-family: 'Work Sans Bold';
    font-size: 20px;
    text-decoration: none; 

    color: #fff;
}
.list-footer-2{
    display: flex;
    flex-direction: column;
    gap: 10px;

    list-style: none;
    padding: 0;
}
.list-footer-2 .item a{

    font-family: 'Work Sans Regular';
    font-size: 20px;
    text-decoration: none; 

    color: #fff;
}
.footer-col{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.w-150px{
    min-width: 150px;
}
.rrss{
    display: flex;
    gap: 15px;
}
.hide{
    visibility: hidden;
    max-height: 0;
    transition: all 0.3s;
}
.container-csf{
    background-color: #f3f3f3;
}
.scroll-to-top{
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    position: fixed;
    z-index: 100;
    width: 45px;
    height: 45px;
    bottom: 30px;
    border-radius: 40px;
    right: 30px;
    margin-right: 60px;
    opacity: 0;
    transform: translateY(100px);
    transition: all 1s ease;

    background-color: #0043a5;
    border: solid 3px #84bd00;
}
.scroll-to-top img{
    transform: translateY(-2px);
}
.scroll-to-top.show-scroll{
    opacity: 1;
    transform: translateY(0px);
}

.badge{
    font-size: 12px;
    font-weight: 600;
    color: #667076;
    border: 1px solid #667076;
    padding: .2rem;
    border-radius: 3px;
    width: fit-content !important;
    margin-top: 10px;
}

.breadcrumbs{
    padding: 20px 0;

    gap: 5px;
    font-size: 16px;
    font-family: 'Work Sans Bold';
}
.breadcrumbs .bc-link{
    text-decoration: none;
    color: #667076;
}
.breadcrumbs .bc-active{
    color: #0043a5;
}

@media all and (max-width: 1280px){
    .telefono{
        display: none;
    }
    
}
@media all and (max-width: 991px){
    .scroll-to-top{
        bottom: 15px;
        right: 15px;
        margin-right: 0;
    }
    .logo{
        width: 140px;
    }
    .cta-mobile{
        display: block;
    }
    .cta{
        display: none;
    }
    .header .header-region-container{
        width: 100%;
    }
    
    .list-menu, .list-submenu{
        padding: 0;
        display: none;
    }
    .menu-mobile{
        display: flex;
    }
    .menu-mobile .telefono{
        display: block;
    }
    .menu-mobile .telefono a img{
        width: 28px;
    }
    .menu-mobile .telefono a{
        font-size: 16px;
    }
    .menu-mobile .list-menu{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .menu-mobile .list-menu .item{
        display: flex;
        align-self: flex-end;
    }
    .navbar-toggler{
        display: block;
    }
    .breadcrumbs{
        flex-direction: column;
    }

    .container-footer{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .list-footer,
    .list-footer-2{
        text-align: center;
    }
    .list-footer .item a {
        font-family: 'Work Sans Extra Bold';
    }
    .footer-col:first-child{
        order: -2;
        border-bottom: 1px solid #fff;
        width: 85%;
        align-items: center;
    }
    .footer-col:last-child{
        order: -1;
        align-items: center;
    }
}